{% load static %}
{#静态文件导入方式2#}
 {#    注意:static指的是setting中配置的,不能写statics#}
{# 01先load一下static#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">#}
{#    <script src="jquery.js"></script>#}
{#    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>#}

    <link rel="stylesheet" href="{% static 'css/xx.css' %}">
    {#静态文件导入方式2#}
</head>
<body>
    <div class="c1">xxx</div>
</body>
</html>
















