# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\djangoProject\djangoProject\django_orm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
