<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h1>32期登录页面</h1>
<form action="" method="post">
    <div>{{ error }}</div>
    用户名: <input type="text" name="username" value="{{ username }}">
    密码: <input type="password" name="password" value="{{ password }}">
    <input type="submit">
</form>
<hr>

{#<iframe src="http://www.baidu.com" frameborder="0"#}
{#    style="width: 100%;height: 500px">#}
{#</iframe>#}

<h1>32期ajax登录页面</h1>
用户名: <input type="text id" id="username">
密码: <input type="password" id="password">


</body>
</html>
















