<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

{#<ul>#}
{#<!-- 可迭代对象都可以用循环 -->#}
{#<!-- 循环列表 -->#}
{#    {% for foo in hobby %}#}
{#        <li>{{ foo }}</li>#}
{#    {% endfor %}#}

{#    {% for foo in hobby %}#}
{#        <!-- 当循环的数据为空或者没有这个变量时显示empty下面的内容 -->#}
{#        {% empty %}#}
{#        <h1>啥也没有</h1>#}
{#    {% endfor %}#}
{#</ul>#}

{#<ul>#}
{#    <!-- 循环字典 -->#}
{#    {% for foo in d1 %}#}
{#        <!-- 只能获取键 -->#}
{#        <li>{{ foo }}</li>#}
{#    {% endfor %}#}

{#    {% for k,v in d1.items %}#}
{#            <!-- 获取键值对,items,keys,values都能用  items后面没有小括号 -->#}
{#        <li>{{ k }}---{{ v }}</li>#}
{#    {% endfor %}#}
{#</ul>#}

{#<ul>#}
{#    {% for foo in hobby %}#}
{#forloop  循环标签对象,通过counter属性可以来记录循环次数#}
{#        <li>{{ forloop.counter }}---{{ foo }}</li>#}
{#    {% endfor %}#}
{#</ul>#}

{#<ul>#}
{#    {% for k,v in hobby2.items %}#}
{#        <li>{{ k }}--{{ v }}</li>#}
{#        forloop.parentloop 统计外层循环对象的循环次数#}
{#        {% for v1 in v %}#}
{#            <li>{{ forloop.parentloop.counter }}#}
{#                --{{ forloop.counter }}--{{ v1 }}</li>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#</ul>#}

{#<ul>#}
{#    {% for foo in hobby reversed %}#}
{#        <li>{{ foo }}</li>#}
{#    {% endfor %}#}
{#</ul>#}

{#{% if age > 16 %}#}
{#    <!-- > <等符号两边必须有空格 -->#}
{#    <h1>大了点</h1>#}
{#{% elif age == 16 %}#}
{#    <h1>还好</h1>#}
{#{% else %}#}
{#    <h1>小了点</h1>#}
{#{% endif %}#}

{#{% if hobby|length > 3 %} <!-- 可以配合过滤器来使用 -->#}
{#    <h1>爱好还挺多</h1>#}
{#{% else %}#}
{#    <h1>爱好不够多</h1>#}
{#{% endif %}#}

<!--三 with-->
<!--给调用过程比较长的数据起别名的.-->
<!--写法1. 推荐-->
{% with hobby2.xx.0 as  kk %}
    <h1>{{ kk }}</h1>
    #11
{% endwith %}

<!--写法2-->
{% with kk=hobby2.xx.0  %}
    <h1>{{ kk }}</h1>
{% endwith %}


</body>
</html>
















